body {
  margin: 0;
  padding: 0;
}

.logo {
  height: 60px;
  width: 100%;
  vertical-align: middle;
  border-radius: 50%;
}

.header {
  background-color: rgb(219, 142, 11);
  color: #212121;
  height: 60px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 8px;
}

.nav-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.nav-item {
  margin-right: 20px;
  font-size: medium;
  font-weight: bold;

  & a{
    color: #212121;
    text-decoration: none;
  }
}

.nav-item:hover {
  text-decoration: underline;
}

.profile {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: rgb(219, 142, 11);
}

.container {
  min-height: 80vh;
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  & a{
    text-decoration: none;
  }
}

.card-container {
  display: flex;
}

.card {
  height: 250px;
  width: 335px;
  padding: 5px;
  border: 2px dashed rgb(84, 84, 84);
  border-radius: 8px;
  margin-right: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.card:hover {
  border: 2px solid rgb(219, 142, 11);
}

.card-img {
  width: 100%;
  height: 75%;
  border-radius: 8px;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgb(219, 142, 11);
  color: #ffffff;
  height: 50px;
}

button {
  padding: 10px 20px;
  border-radius: 8px;
  background-color: rgb(219, 142, 11);
  color: #ffffff;
  cursor: pointer;
  margin: 5px;
}

.loader-container {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
}

.loader {
  height: 250px;
  width: 335px;
  padding: 5px;
  border-radius: 8px;
  margin-right: 20px;
  margin-bottom: 20px;
  background: rgb(197, 196, 196);
  opacity: 0.1;
  animation: pulse 2s cubic-bezier(0.1, 0, 0.1, 1) infinite;
}

.bar-loader {
  height: 30px;
  width: 400px;
  border-radius: 8px;
  margin-bottom: 30px;
  background: rgb(197, 196, 196);
  opacity: 0.1;
  animation: pulse 2s cubic-bezier(0.1, 0, 0.1, 1) infinite;
}
.region-label {
  background: rgb(171, 86, 52);
  padding: 5px;
  border-radius: 8px;
  color: #ffffff;
}

.region-name {
  margin-top: 5px;
  font-weight: 900;
  font-size: 18px;
  color: rgb(241, 210, 151);
}

.flag {
  height: 20px;
  width: 20px;
  vertical-align: middle;
  margin-left: 3px;
  border-radius: 4px;
}

img{
  object-fit: cover;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

p {
  line-height: 1.5;
}
